## SQL Practice 8 week Challenge with Danny Ma

### 1 Danny Diner
1.  SELECT dannys_diner.sales.customer_id, SUM(price) AS TotalPrice
    FROM dannys_diner.sales
    LEFT JOIN dannys_diner.menu ON dannys_diner.sales.product_id = dannys_diner.menu.product_id
    GROUP BY customer_id

This will give you the total expenditure for each customer. 

2.  SEL